{% extends 'base.html' %}

{% block content %}
<h1>Graphs</h1>
<div class="graph">
  <h2>Graph 1</h2>
  <img src="{% static 'img/graphs/graph1.png' %}" alt="Graph 1">
</div>
<div class="graph">
  <h2>Graph 2</h2>
  <img src="{% static 'img/graphs/graph2.png' %}" alt="Graph 2">
</div>
<div class="graph">
  <h2>Graph 3</h2>
  <img src="{% static 'img/graphs/graph3.png' %}" alt="Graph 3">
</div>
<div class="graph">
  <h2>Graph 4</h2>
  <img src="{% static 'img/graphs/graph4.png' %}" alt="Graph 4">
</div>
<div class="graph">
  <h2>Graph 5</h2>
  <img src="{% static 'img/graphs/graph5.png' %}" alt="Graph 5">
</div>
<div class="graph">
  <h2>Graph 6</h2>
  <img src="{% static 'img/graphs/graph6.png' %}" alt="Graph 6">
</div>
{% endblock %}